<% if cat.persisted? %>
  <% action = cats_url(cat.id) %>
  <% method = "PATCH" %>
<% else %>
  <% action = cats_url %>
  <% method = "POST" %>
<% end %>

<form action="<%= action %>"  method="POST">
  <input type="hidden" name="_method" method="<% method %>">
    <label for="name">Name</label>
    <input type="text" id="name" name="cat[name]" value="<%= cat.name %>">

    <label for="sex">Sex</label>
    <input type="radio" id="male" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : "" %>>
    <label for="male">Male</label>
    <input type="radio" id="female" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : "" %>>
    <label for="female">Female</label>

    <label for="color">Color</label>
    <select name="cat[color]" id="color">
    <option disabled selected>Select the color</option>
    <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>" <%= cat.color == color ? "selected" : ""%>>
        <%= color.capitalize %>
        </option>
    <% end %>
    </select>

    <label for="birth_date">Birthdate</label>
    <input type="date" id="birth_date" name="cat[birth_date]" value="<%= cat.birth_date %>">

    <label for="description">Description</label>
    <textarea id="description" type="textarea" name="cat[description]"><%=cat.description%></textarea>

    <input type="submit" value="Submit">
</form>