<tr>
  <td><%= req.start_date %></td>
  <td><%= req.end_date %></td>
  <td><%= req.user.user_name%></td>
  <% if req.pending? || req.approved?%>
  <td><%= req.status %> </td>
  <% end %>
  <td>
    <% if req.pending? && current_user && @cat.owner.id == current_user.id %>
        <form action="<%= approve_cat_rental_request_url(req) %>" method="post">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
          <input type="submit" value="Approve">
        </form>
        <form action="<%= deny_cat_rental_request_url(req) %>" method="post">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
          <input type="submit" value="Deny">
        </form>
    <% end %>
  </td>
</tr>
