<h1><%= @band.name %></h1>

<a href="<%=edit_band_url(@band.id)%>">Edit band</a>
<form action="<%= band_url(@band.id) %>" method="POST">
    <%= form_auth %>
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete band"/>
</form>
<a href="<%= bands_url %>">Bands index</a>